<%- include('../includes/header.ejs') %> 
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/auth.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %> 
    <main  >
      <form class="login-form  max-w-sm mx-auto" action="/new-password" method="POST">
        <div class="form-control">
          <label for="password">New password</label>
          <input type="text" name="password" id="password" />
        </div>
       <input type="hidden" name='userID' value="<%= userId %>"/>
       <input type="hidden" name="passwordToken" value="<%= tokkenpassword %>">
       <button class="btn" type="submit">Set Password</button>
      </form>
    </main>
    <%- include('../includes/end.ejs') %>