<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= pagetitle==='shop'?'active':' ' %>">Shop</a>
      </li>
      <li class="main-header__item">
        <a href="/products" class="<%= pagetitle==='Products'?'active':' ' %>"
          >Products</a
        >
      </li>
      <% if(LogIn) {%>
      <li class="main-header__item">
        <a href="/cart" class="<%= pagetitle==='Cart'?'active':' ' %>">Cart</a>
      </li>
      <li class="main-header__item">
        <a href="/order" class="<%= pagetitle==='Your order'?'active':' ' %>"
          >Order</a
        >
      </li>
      <li class="main-header__item">
        <a
          href="/admin/add_product"
          class="<%= pagetitle=='ADD Product'?'active':' ' %>"
          >Add Product</a
        >
      </li>
      <li class="main-header__item">
        <a
          href="/admin/products"
          class="<%= pagetitle==='Admin Product'?'active':' ' %>"
          >Admin Product</a
        >
      </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if(!LogIn){ %>
      <li class="main-header__item">
        <a
          class="<%= pagetitle==='Login page'?'active':' ' %>"
          href="/login"
          lohin
          >login</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= pagetitle === 'Sign up' ? 'active' : '' %>" href="/signup"
          >Signup</a
        >
      </li>
      <% } else { %>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <button class="btn" type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
