
    <%- include('../includes/header.ejs') %> 
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %> 
      <main>
          <% if (products.length > 0) { %>
              <ul>
                  <% products.forEach(p => { %>
                      <li class="cart__item">
                          <p><%= p.title %> (<%= p.CartItem.qnt %>)</p>
                          <form action="/cart-delete-item" method="POST">
                              <input type="hidden" value="<%= p.id %>" name="productId">
                              <button class="btn" type="submit">Delete</button>
                          </form>
                      </li>
                  <% }) %>
              </ul>
              <form action="/add-order" method="post">
                <button class="btn" type="submit">Order</button>
              </form>
          <% } else { %>
              <h1>No Products in Cart!</h1>
          <% } %>
      </main>
      <%- include('../includes/end.ejs') %> 