<%- include('../includes/header.ejs') %> 
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %> 
    <main class="centerd">
        <h1>the name is <%= pro.title %> </h1>
        <hr/>
        <div>
            <img src="<%= pro.imgaurl %> " alt="<%= pro.title %>">
        </div>
        <h2>$<%= pro.price %> </h2>
        <p><%= pro.description %> </p>
        <%- include('../includes/add-to-cart.ejs') %>  
    </main>
    <%- include('../includes/end.ejs') %> 
